
@font-face {
    font-family: "Ubuntu";
    src: url("/static/fonts/Ubuntu/Ubuntu-Regular.ttf") 
}

html {
  scroll-behavior: smooth;
}

body, html {
  font-family: "Ubuntu", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #111;
  color: #fff;
  text-align: center;
  height: 100%;
  margin: 0;
}

body p {
  color: black;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: #111;
  color: #fff;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.profile { }

.profile img {
  text-align: center;
  display: block;
  height: 250px;
  max-height: 45vw;
}

.overview,
.services,
.team,
.clients,
.contact {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overview {
  background-image: url("/static/img/background-person-sitting-by-computer.png");
  min-height: 100%;

}
.services {
  background-image: url("/static/img/background-computer-on-desk.jpeg");
  min-height: 400px;
}
.team {
/*  background-image: url("/static/img/background-person-sitting-by-computer.png");*/
  min-height: 400px;
}
.clients {
  background-image: url("/static/img/background-computer-screen.jpeg");  
  min-height: 100%;
}
.contact {
  background-image: url("/static/img/background-talking-to-customers.jpeg");
  min-height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .overview,
  .services,
  .team,
  .clients,
  .contact {
    background-attachment: scroll;
  }
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

.caption span.border {
  display: inline-block;
  color: #fff;
  background: #1F242C;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Skeleton overrides */
.container {
  background-color: transparent;
}

.columns {
  min-height: 100%;
}

.container h1, h2 {
  font-weight: bold;
}

.bordered {
  border-style: solid;
  border-color: #00000060;
}