{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block nav %}{% endblock nav %}

{% block content %}
<!-- Overview -->
<div class="overview">
  <div class="caption">
    <span class="border">AJR Lewis | Building Your Tech Foundation</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Overview</h1>
  </div>
  <div class="row">
    <h3>Who are we?</h3>
    <p>We are a group of independent software consultants and developers able to meet your business's bespoke digital needs!</p>
    <h3>What do we do?</h3>
    <p>From consulting to finding the best software solutions for your business, we can build your web-based application using our free and open-source software (FOSS).
    Our portfolio boasts full-stack stack software for managing bookings, generating invoices abd kear</p>
    <h3>What's your ethos?</h3>
    <p>We build free and open-source software (FOSS), which allows us to swiftly adapt to evolving security concerns and/or make improvements.</p>
    <p>We operate on a Bitcoin Standard and thus prefer to accept bitcoin as value for the value we provide.</p>
    <!-- <p>We believe in simplicity. Our ethos is simple. Our tech foundation is simple. Our </p> -->
    <!-- <h3>How can we monetize this?</h3> -->
    <!-- <p>You can easily copy our open-source software as your foundation  ... or train your developers to embrace open-source technologies</p> -->
  <!-- </div> -->
  </div>
  <br>
</div>

<!-- Services -->
<div class="services">
  <div class="caption">
    <span class="border">Tech Tailored to You</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Our Services</h1>
  </div>
  <div class="row">
    <div class="six columns">
      <h2>Consultation</h2>
      <p>Expect an hour online meeting where we learn everything about your business, strategy and priorities to map out your existing systems, tech & processes.</p>
      <p>We will provide fully independent advice & recommendations via detailed minutes to improve your tech stack.</p>
      <p><a class="button" href="mailto:hello@ajrlewis.com?subject=Book a Consulation&body=Hi, I'd like to book a consulation, please. When are you available?">Book Now</a></p>
      <p><strong>* Free with no obligation</strong></p>
    </div>
    <div class="six columns">
      <h2>Daily Rate</h2>
      <p>We'll get your tech working for you on a relaxed </p>
      <p>Expect to implement a snapshot of our current API solutions with subsequent modifications.</p>
      <p>Expect cutting-edge AI/LLM/ML/Web REST API solutions ready to use in production.</p>
      <p><a class="button" href="mailto:hello@ajrlewis.com?subject=Book by the day&body=Hi, I'd like to book AJR Lewis for a project, please. When are you available to discuss this further?">Book Now</a></p>
      <p><strong>* From ₿0.00 420 069 / day</strong></p>
    </div>
  </div>
  <br>
</div>

<!-- Team -->
<div class="team">
  <div class="caption">
    <span class="border">Meet the Faces Behind Your Success Story</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Our Team</h1>
  </div>
  <div class="row">
    <div class="six columns profile">
      <img src="/static/img/profile-ajrlewis.png" alt="Founder Profile Picture">
      <h2>Alex Lewis</h2>
      <h3>Founder</h3>
      <p>PhD in extragalactic astrophysics (4 years).</p>
      <p>Head of AI team forecasting demand for high-volume retail businesses (4 years).</p>
      <p>Building this tech consulting and solutions business (2 years).</p>
    </div>
    <div class="six columns profile">
      <img src="/static/img/profile-bot.png" alt="Cheif Bot Officer Picture">
      <h2>Botrick AItman</h2>
      <h3>Chief Bot Officer</h3>
      <p>
        A large language model.
      </p>
      <p>
        Control over many >60B-parameter-trained models.
      </p>
      <p>
        WIth your API-usage consent I can fine tune.
      </p>
    </div>
  </div>
  <br>
</div>

<!-- Clients -->
<div class="clients">
  <div class="caption">
  <span class="border">Join Our Family of Thriving Businesses</span>
</div>
</div>
<div class="container" id="clients">
  <br>
  <div class="row">
    <h1>Our Clients</h1>
  </div>
  <div class="row">
    <div class="six columns profile">
      <a href="https://hyperhumans.ai" target="_blank">
        <img src="/static/img/logo-hyperhumans.png" alt="Hyperhumans Logo">
      </a>
      <h2>Hyperhumans</h2>
      <span style="font-size: xxx-large;">“</span>
      <p>We hired AJR Lewis based on a personal recommendation, and so far his work with us has been outstanding. Not only is he highly proficient in writing the actual code we need, but he has the brain to be able to make solid decisions and think up solutions that actually solve the problems that inevitably come up when developing software. Finally, he's just a great person to work with; self-managing, while fully able to mesh with our existing team. In short, hire him for your next software projects - we haven't regretted it for a second and neither will you.</p>
    </div>
    <div class="six columns profile">
      <a href="https://w4lkies.com" target="_blank">
        <img src="/static/img/logo-w4lkies.png" alt="W4lkies Logo">
      </a>
      <h2>W4lkies</h2>
      <span style="font-size: xxx-large;">“</span>
      <p>AJR Lewis has effectively built the tech for my dog walking business and I couldn't have had such a slick, smooth and easy to use infrastructure to create invoices and booking system without their help! Very professional and work done in very good time. Highly recommend.</p>
    </div>
  </div>
  <br>
</div>

<!-- Get in touch -->
<div class="contact">
  <div class="caption">
    <span class="border">Get in Touch Today</span>
  </div>
</div>
<footer class="container">
  <div class="row">
    <div class="six columns">
      <h4>Contact</h4>
      <ul>
        <li>E-mail: <a href="mailto:hello@ajrlewis.com?subject=Hello!">hello@ajrlewis.com</a></li>
      </ul>
    </div> 
    <div class="six columns" style="word-wrap: break-word;">
      <h4>Social</h4>
      <ul>
        <li>Github: <a href="https://github.com/ajrlewis" target="_blank">ajrlewis</a></li>
        <li>Nostr: <a href="https://satellite.earth/@npub19ccv5fe7rn22cwasygsjkd5f0l64wv3fsw5jxtemvukfznfjtfvq0jmwsh" target="_blank">npub19ccv5fe7rn22cwasygsjkd5f0l64wv3fsw5jxtemvukfznfjtfvq0jmwsh</a></li>
      </ul>
    </div> 
  </div>
</footer>
{% endblock content %}

{% block footer %}{% endblock footer %}
