{% extends 'dashboard_base.html' %}

{% set blueprint = model.lower() + "_bp" %}

{% if record %}
  {% set header = "Update " + model %}
  {% set action = url_for(blueprint + ".update", id=record.id) %}
  {% set submit = "Update" %}
  {% set number_of_records = 0 %}
{% else %}
  {% set header = "Add " + model %}
  {% set action = url_for(blueprint + ".add") %}
  {% set submit = "Add" %}
  {% set number_of_records = records | length %}
{% endif %}


{% block content %}
<div class="dashboard">

  <div class="container"> 
    <br>
    <h2>{{ header }}</h2>
  </div>

  <div class="container"> 
    <form action="{{ action }}" method="POST">
      {{ form.csrf_token }}
      {% for attribute in form_attributes %}
        <div class="row">
          <div class="twelve columns">
            {{ form | attr(attribute) | attr("label") }}
            {{ form | attr(attribute) }}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="twelve columns">
          {{ form.submit(value=submit, class_="u-half-width") }}
        </div>
        {% if record %}
          <button onclick="window.location.href='{{ url_for(blueprint + '.get') }}'">Cancel</button>
        {% endif %}
      </div>
    </form>
  </div>

  {% if records %}
    <div class="container">
      <hr>
      <h3>Manage {{ model }}s</h3>
      {% for record in records %}
        <div>
          <br>
          {% for attribute in record_attributes %}
            <p><strong>{{ attribute.replace("_", " ").title() }}:</strong> {{ record | attr(attribute) }}</p>
          {% endfor %}
          <a href="{{ url_for(blueprint + '.get', id=record.id) }}" class="button">Update</a>
          {% if downloadable %}
            <a href="{{ url_for(blueprint + '.download', id=record.id) }}" class="button">Download</a>
          {% endif %}
          <form
            action="{{ url_for(blueprint + '.delete', id=record.id) }}"
            method="POST"
            onsubmit="return confirm('Are you sure you want to delete?');"
          >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit">Delete</button>
          </form>
          §
          <br>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <br>
  <br>

  <br>
  <br>
  <br>

</div>

{% endblock %}
