{% extends "dashboard/dashboard_base.html" %}

{% block content %}
  <div class="container">
    <h1>Clients</h1>
  </div>
  <div class="container">
    <h2>Add a Client</h2>
    <div id="add-client">
      {% with client_form=client_form %}
        {% include "dashboard/client_form.html" %}
      {% endwith %}    
    </div>
  </div>
  <div class="container">
    <h2>Your Clients</h2>
    <!-- client_filter_form -->
    <!-- hx-post="/dashboard/clients/filter" -->
    <!-- hx-target="#clients" -->
    <!--  -->
    <!-- <button class="button button-primary">Reset</button> -->
    <!-- hx-get="/dashboard/clients" -->
    <!-- hx-target="#clients" -->
  </div>
  <div class="container">
    <div id="clients" hx-target="closest div" hx-swap="outerHTML swap:0.5s"> 
      {%for client in clients %}
        {% with client=client %}
          {% include "dashboard/client_detail.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
