<div id="invoice-{{ invoice.id }}" hx-target="this" hx-swap="outerHTML">
  <div class="row">
    <div class="seven columns">
    {{ invoice.client.name }}
    · {{ invoice.title }}
    · {{ invoice.date_issued.date() }}
    </div>
    <div class="five columns">
      <a class="button button-primary" href="/dashboard/invoices/{{ invoice.id }}/download" target="_blank">
        Download
      </a>
      <button class="button button-primary" hx-get="/dashboard/invoices/{{ invoice.id }}/edit">
        Edit
      </button>
      <button class="button button-delete" hx-delete="/dashboard/invoices/{{ invoice.id }}" hx-confirm="Are you sure you wish to delete this invoice?">
        Delete
      </button>
    </div>
  </div>
</div>
<!-- summary -->
<!-- technology -->
<!-- duration  # in days -->
<!-- payment_address -->
